{% extends "base.html" %}
{% block content %}
<div class="abt_prvc">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4 class="title-abt text-center">
				About Encipherr
			</h4>
			<br />
			<p id="intro" class="text-center">Encipherr is an online tool that provides a simple way to protect sensitive data with a powerful encryption algorithm.</p>
			<div class="row m-2">
				<div class="col-md m-2">
				  <div class="card text-dark h-100">
					<div class="card-body">
					  <h5 class="card-title"></h5>
					  <p class="font-weight-bold card-text">Encipherr uses AES which is considered one of the strongest algorithms available.</p>
					</div>
				  </div>
				</div>
				<div class="col-md m-2">
				  <div class="card text-dark h-100">
					<div class="card-body">
					  <h5 class="card-title"></h5>
					  <p class="font-weight-bold card-text">The encryption process is fast, and the website itself is lightweight and easy to use.</p>
					</div>
				  </div>
				</div>
			</div>
			
			<div class="row m-2">
	              <div class="col-md m-2">
					<div class="card text-dark h-100">
					  <div class="card-body">
						<h5 class="card-title"></h5>
						<p class="font-weight-bold card-text">It's fast and free and open source—and there are no ads!</p>
					  </div>
					</div>
				  </div>
				  <div class="col-md m-2">
					<div class="card text-dark h-100">
					  <div class="card-body">
						<h5 class="card-title"></h5>
						<p class="font-weight-bold card-text">Encipherr offers no tracking mechanisms. This helps to keep your privacy safe while browsing on any device or computer.</p>
					  </div>
					</div>
				  </div>
			</div>
			
			<br />
            <h4 class="title-abt text-center">
				How to use Encipherr ? 
			</h4>
            <div class="row m-2">
				<div class="col-md m-2">
				  <div class="card text-dark h-100">
					<div class="card-body">
					  <h5 class="card-title"></h5>
					   <p class="font-weight-bold text-center">Text encryption</p>
						<p class="font-weight-bold text-center card-text">
                        Enter your AES key in the key box. Then click Encrypt. To decrypt data, The same process as the encryption. 
					    </p>
					   <p class="font-weight-bold text-center">File encryption</p>
					    <p class="font-weight-bold text-center card-text">
						Enter your AES key in the key box, Select your file, Then click Upload and Encrypt, The same process for the decryption.
					    </p>
						<p class="font-weight-bold text-center">Important !</p>
					    <p class="font-weight-bold text-center card-text">
						If you want to read your own encrypted data, you'll need to have the same key that was used in the encryption.<br>
						So, when you lose or forget the encryption key for a file or text, <u>it is impossible to recover it.</u>
                        </p>
                    </div>
				  </div>
				</div>
			</div>	

			<br />
            <h4 class="title-abt text-center">
				About the developer 
			</h4>
			<div class="row m-2">
				<div class="col-md m-2">
				  <div class="card text-dark h-100">
					<div class="card-body">
					  <h5 class="card-title"></h5>
					  <p class="font-weight-bold card-text text-center">This app is fully developed by Oussama/<i>Osama</i> Ben Sassi.<br><br>
						<a href="https://github.com/Oussama1403"><span style="font-weight: 700">Oussama Ben Sassi</span></a> is a Python programmer who uses Python to build anything from desktop apps to web apps.
					</p>
					</div>
				  </div>
				</div>
			</div>	
			
            <br />
			<h3 class="title-abt text-center">
				Contact me 
			</h3>  
			<div class="row m-2">
				<div class="col-md d-flex justify-content-center">          
                    <div class="footer-social-icons">
                      <ul class="social-icons">
                         <li><a href="https://www.facebook.com/oussama.bensassi.15/" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-facebook"></i></a></li>
                         <li><a href="mailto: obensassi.03@gmail.com" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-google"></i></a></li>
                         <li><a href="https://github.com/Oussama1403" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-github"></i></a></li>
                        <li><a href="https://discordapp.com/channels/@me/780055812747034624" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-discord"></i></a></li>
                        <li><a href="https://dev.to/oussama1403" target="_blank" class="social-icon"> <i class="fab fa-dev"></i></a></li>
                      </ul>
				    </div>
				</div>
			</div>

        </div>
	</div>
  </div>
</div> 
{% endblock content %}
