{% extends "base.html" %}
{% block content %}
<div class="abt_prvc">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4 class="title-abt">
				About Encipherr :
			</h4>
			
			<p>
			<ul class="list-unstyled">
				<li><b>Encipherr</b> is an online tool that provides a simple way to protect sensitive data with a powerful encryption algorithm.</li><br>
			    <li><b>Encipherr</b> uses <b>Advanced Encryption Standard (AES):</b> It is a symmetric Encryption algorithm that use a random generated key to encrypt and decrypt whatever data is being encrypted/decrypted.</li>
				<b><li>AES is considered one of the strongest algorithms available.</li><br></b>
				<li>The encryption process is fast, and the website itself is lightweight and easy to use.</li><br>
				<li>Encrypting data is a difficult task, but <b>Encipherr</b> provides the most powerful encryption of data available. With a fast website and free to use,<b>Encipherr</b> makes it easy to protect your information and to keep your data safe and secure from prying eyes.</li><br>
				<li>It's fast and free, open source, and easy to use—and there are no ads!</li><br>
				<li>Encrypting files protects them against being read while they're on a computer or mobile device. Decrypting allows users to access their files without needing to have them stored on the same device where they are encrypted.</li><br>
				<li><b>Encipherr</b> offers no tracking mechanisms. This helps to keep your privacy safe while browsing on any device or computer.</li><br>
			    <li><b>We hope you'll find Encipherr useful &hearts;</b></li>
			</ul>
            </p>
            
			<h4 class="title-abt">
				How to use Encipherr ? :
			</h4>

			<p>
			<ul class="list-unstyled">
				<li>To encrypt data, Enter your AES key in the key box. Then click Encrypt. To decrypt data, The same process as the encryption.</li><br>
				<li>For file encryption, Enter your AES key in the key box, Select your file, Then click Upload and Encrypt, The same process for the decryption.</li><br>
				<li><b>This means that if you want to read your own encrypted data, you'll need to have the same key that was used in the encryption.</b></li><br>
            </ul>	
			</p>

			<h4 class="title-abt">
				About the developer :
			</h4>
			<p>
				This app is fully developed by Oussama/<i>Osama</i> Ben Sassi.
			</p>
			<div>
				<a href="https://github.com/Oussama1403"><span style="font-weight: 700">Oussama Ben Sassi</span></a> is a Python programmer who uses Python to build anything from desktop apps to web apps.
			</div>
			<br />
			<h3 class="title-abt">
				Contact me :
			</h3>            
            
            <div class="footer-social-icons">
              <ul class="social-icons">
                 <li><a href="https://www.facebook.com/oussama.bensassi.15/" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-facebook"></i></a></li>
                 <li><a href="mailto: obensassi.03@gmail.com" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-google"></i></a></li>
                 <li><a href="https://github.com/Oussama1403" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-github"></i></a></li>
                <li><a href="https://discordapp.com/channels/@me/780055812747034624" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-discord"></i></a></li>
                <li><a href="https://dev.to/oussama1403" target="_blank" class="social-icon"> <i class="fab fa-dev"></i></a></li>
              </ul>
           </div>
                
        </div>
	</div>
  </div>
</div>
{% endblock content %}
