{% extends "base.html" %}

{% block title %}
Encipherr - Online Tool for AES Encryption and Decryption
{% endblock title %}

{% block description %}"Free online tool for AES encryption and decryption"{% endblock description %}

{% block content %}

<div class="container">
  <p id="intro" class="text-center">Online Tool for AES Encryption and Decryption</p>
   
  <!-- error message used by AJAX -->
  <div id="tohide" style="display:none">
    <div class="container">
        <div class="alert alert-warning">
            <button type="button" class="close" onclick="close_msg()">&times;</button>
            <div id="message" style="text-align:center"></div>
          </div>
    </div>
  </div>

  <!-- error message used by flask -->
  <div class="container">
       {% for message in get_flashed_messages() %}
       <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <div style="text-align:center">{{ message }}</div>
       </div>
       {% endfor %}
  </div>
  
  <hr style="width:100%;margin-bottom:16px;margin-top:0"/>
  
  <form id="form" action="#" method="POST" enctype="multipart/form-data">
    
    <h4 class="title">Enter Secret Key </h4>

    <p><input id="key" type="text" name="key" value="{{key}}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Key of the encryption" /></p>
    <p>
    <div class="form-check">
      <input id="aes" class="form-check-input" type="radio" name="key_type" value="aes" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        32-byte key.
      </label>
    </div>
    <div class="form-check">
      <input id="pwd" class="form-check-input" type="radio" name="key_type" value="pwd">
      <label class="form-check-label" for="flexRadioDefault2">
        Custom Password
      </label>
    </div>
    </p>
    
    <p><b>Or</b></p>
    <input id="btn" type="button" name="submit_b" onclick="genkey()" value="Generate Key" class="btn btn-primary genkey"/>
    <br />
    <br />
    
    <h4 class="title">Text Encryption</h4>
    
    <p><textarea id="txtarea" name="txt" class="form-control" rows="7" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Plain or encrypted text here">{{ value }}</textarea></p>
      <input id="btn" type="button" name="submit_b" onclick="text_mode(this.name,this.value)" value="Encrypt Text" class="btn btn-primary" />
      <input id="btn" type="button" name="submit_b" onclick="text_mode(this.name,this.value)" value="Decrypt Text" class="btn btn-primary" />
    <br /><br />

    <h4 class="title">File Encryption</h4>

    <label id="exampleInputFile">
      <i>Max File Size: 10mb</i>
    </label>
    <input type="file" id="file_input" name="file" class="form-control-file" />
    <br />
    <input id="upload_btn" type="submit" name="submit_b" value="Upload and Encrypt" class="btn btn-primary" />
    <input id="upload_btn" type="submit" name="submit_b" value="Upload and Decrypt" class="btn btn-primary" />
    <div id="progress_wrapper" class="d-none">
      <label id="progress_status"></label>
      <div class="progress mb-3">
        <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div id="alert_wrapper"></div>
  </form>
  <br />
  <br />
</div>

<script>

// disable genkey button when key in custom mode.

$("#pwd").click( function(){
  $(':button.genkey').attr('disabled','disabled');
})
$("#aes").click( function(){
  $(':button.genkey').removeAttr("disabled");

})

</script>

{% endblock content %}
