  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #fcfcfc;
    padding-top: 55px; 
    min-height: 100vh;
    margin:0;
    display:flex; 
    flex-direction:column;
  } 

  /* fade animation */
  .abt_prvc,#intro {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

  /* navbar & footer */
  nav {
    box-shadow: 0px 3px 5px -1px rgba(158, 158, 158, 0.84);
    background-color:white;
  }
  footer {
    box-shadow: 0px -1px 5px -1px rgba(158, 158, 158, 0.84);
    width:100%;
    bottom: 0;
    margin-top:auto; 
  }
  a {
    font-weight: normal;
    transition: 0.3s ease;
  }
  .navbar-brand:hover {
    color: #6c5ce7 !important;
    border-bottom:2px solid #6c5ce7;
  }
  .navbar-brand:active {
    color: #01AC59 !important;
    border-bottom: 2px solid #01AC59;    
    padding:6px 0;
  }
  .navbar-nav > li > a {
    color: #2d3436 !important;
    letter-spacing:1px;
    padding: 6px 0;   
  }
  .navbar-nav > li > a:hover {
    color: #6c5ce7 !important;
    border-bottom: 2px solid #6c5ce7;
    padding: 6px 0;   
  }
  .navbar-nav > li > a:active {
    color: #01AC59 !important;
    border-bottom: 2px solid #01AC59;
  }

  /* buttons */
  input[type="button"],input[type="submit"] {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    padding: 16px 32px;
    margin: 4px;
    margin-left: 0px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  #btn {
    color: #383c4a	; 
    border-color: #383c4a	;
  }
  #btn:hover {
    color: #f3f0f2	!important ;
    background-color: #23272a	;
    border-color: #23272a	;
  }
  #btn:focus {
    color: #f3f0f2	!important ;
    background-color: #2e3438	;
    border-color: #23272a	;
    box-shadow: none;
  }
  
  #upload_btn {
    color: #1abc9c;
    border-color: #1abc9c;
  }
  #upload_btn:hover {
    color: #ffffff;
    background-color: #00e676;
    border-color: #00e676;
  }
  #upload_btn:focus {
    background-color: #05ff86;
    box-shadow: none;
  }
  
  /* input fields */
  .form-control:focus {
    box-shadow: none;
  }
  #key,#txtarea {
    background-color: transparent;
    border: 1px solid transparent ;
    border-bottom-color:#1F2833;
  } 
  #key::selection,#txtarea::selection {
    color: white;
    background: #383c4a;
  }
  #key:hover,#key:focus,#txtarea:hover,#txtarea:focus {
    background-color: transparent;
    border: 1px solid transparent ;
    border-color:#1F2833;
  }   

  /* home */
  #intro {
    color:#383c4a	;
    letter-spacing: 1.3px;
    font-weight:bold;
  }
  .title {
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    padding-bottom:20px;
    color: #383c4a	;
  }

  /* about */
  .title-abt {  
    font-family: 'Quicksand';
    color: #383c4a;
    font-weight: bold;
  }   
  ul {
   padding:0;
   list-style: none;
  }
  .footer-social-icons {
    display:block;
    margin: 0 auto;
  }
  .social-icon {
    color: #fff;
  }
  ul.social-icons {
    margin-top: 10px;
  }
  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
  }
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  
  .fa-facebook {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-facebook:hover {
    background-color: #3d5b99;
  }
  
  .fa-google {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-google:hover {
    background-color: red;
  }
  
  .fa-github {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-github:hover {
    background-color: #5a32a3;
  }

  .fa-discord {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }

  .fa-discord:hover {
    background-color: #404EED;
  }

  .fa-dev {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }

  .fa-dev:hover {
    background-color: #1A2634;
  }
