  body {
    font-family: "Montserrat", sans-serif;
    background-color: #fcfcfc;
    padding-top: 55px; 
    min-height: 100vh;
    margin:0;
    display:flex; 
    flex-direction:column;
  } 

  /* navbar & footer */
  
  footer {
    box-shadow: 0px -1px 5px -1px rgba(158, 158, 158, 0.84);
    width:100%;
    bottom: 0;
    margin-top:auto; 
  }
  a {
    font-weight: normal;
    transition: 0.3s ease;
  }

  /* buttons */
  input[type="button"],input[type="submit"] {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    padding: 16px 32px;
    margin: 4px;
    margin-left: 0px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn {
    color: #383c4a	; 
    border-color: #383c4a	;
  }
  .btn:hover {
    color: #f3f0f2	!important ;
    background-color: #23272a	;
    border-color: #23272a	;
  }
  .btn:focus {
    color: #f3f0f2	!important ;
    background-color: #2e3438	;
    border-color: #23272a	;
    box-shadow: none;
  }
  
  /* input fields */
  .form-control:focus {
    box-shadow: none;
  }
  #key,#text {
    background-color: transparent;
    border: 1px solid transparent ;
    border-bottom-color:#1F2833;
  } 
  #key::selection,#text::selection {
    color: white;
    background: #383c4a;
  }
  #key:hover,#key:focus,#text:hover,#text:focus {
    background-color: transparent;
    border: 1px solid transparent ;
    border-color:#1F2833;
  }   

  /* home */
  
  .title {
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    padding-bottom:20px;
    color: #383c4a	;
  }

  
