body {
    font-family: "Montserrat", sans-serif;
    background-color: #fcfcfc;
    padding-top: 55px; 
    min-height: 100vh;
    margin:0;
    display:flex; 
    flex-direction:column;
} 

.aboutpage,
.prvc,
#intro {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

  nav {
    box-shadow: 0px 3px 5px -1px rgba(158, 158, 158, 0.84);
    background-color:white;
  }
  footer {
    box-shadow: 0px -1px 5px -1px rgba(158, 158, 158, 0.84);
    width:100%;
    bottom: 0;
    margin-top:auto; 
}
  
  a {
    font-weight: normal;
    transition: 0.3s ease;
  }

.navbar-nav > li > a {
    color: #2d3436 !important;
    letter-spacing:1px;
    padding: 6px 0;   
  }
  .navbar-nav > li > a:hover {
    color: #6c5ce7 !important;
    border-bottom: 2px solid #6c5ce7;
    padding: 6px 0;   
  }
  
  .navbar-nav > li > a:active {
    color: #01AC59 !important;
    border-bottom: 2px solid #01AC59;

  }

  .navbar-brand:hover {
    color: #6c5ce7 !important;
    border-bottom:2px solid #6c5ce7;
  }
  
  .navbar-brand:active {
    color: #01AC59 !important;
    border-bottom: 2px solid #01AC59;    
    padding:6px 0;
  }
  
  .abtlink {
    font-weight: 700;
  }
  
  /*
  .abtlink:hover {
    color: #fa464f;
    font-weight: 700;
  }*/
  

  .prvc {
    padding-right: 2%;
    padding-left: 2%;
  }

  #intro {
    color: #718093;
    font-weight:bold;
  }
  
  .title {
    font-family: 'Quicksand', sans-serif;
    color: #0d6efd;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 16px 32px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
  }

  #upload_btn {
    color: #1abc9c;
    border-color: #1abc9c;
  }

  #upload_btn:hover {
    color: #ffffff;
    background-color: #00e676;
    border-color: #00e676;
  }
  @import url(https://fonts.googleapis.com/css?family=Lato);
  
 ul {
   padding:0;
   list-style: none;
  }
  
  .footer-social-icons {
    display:block;
    margin: 0 auto;
  }
  
  .social-icon {
    color: #fff;
  }
  
  ul.social-icons {
    margin-top: 10px;
  }
  
  .social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  
  .fa-facebook {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-facebook:hover {
    background-color: #3d5b99;
  }
  
  .fa-google {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-google:hover {
    background-color: red;
  }
  
  .fa-github {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
  
  .fa-github:hover {
    background-color: #5a32a3;
  }

  .fa-discord {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }

  .fa-discord:hover {
    background-color: #404EED;
  }

  .fa-dev {
    padding:18px 24px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }

  .fa-dev:hover {
    background-color: #1A2634;
  }
