{% extends "base.html" %}
{% block content %}
<div class="aboutpage">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4 class="title-abt">
				What is Encipherr ? :
			</h4>
			<p>
				Encipherr is a web application that offers you a powerful encryption of texts or files.
            </p>
            <br />
			<h4 class="title-abt">
				How it works ? :
			</h4>

			<p>
				This app uses <b>Advanced Encryption Standard(AES)</b>;It is a symmetric Encryption algorithm that use a random generated key to encrypt and decrypt whatever data is being encrypted/decrypted.
			</p>

			<br />
			<h4 class="title-abt">
				About the developer :
			</h4>
			<p>
				This app is fully developed by Oussama Ben Sassi.
			</p>
			<div>
				<a class="abtlink" href="https://github.com/Oussama1403">Oussama Ben Sassi</a> is a Python programmer who uses Python to build anything from desktop apps to web apps.
			</div>
			<br />
			<h3 class="title-abt">
				Contact me :
			</h3>            
            
            <div class="footer-social-icons">
              <ul class="social-icons">
                 <li><a href="https://www.facebook.com/oussama.bensassi.15/" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-facebook"></i></a></li>
                 <li><a href="mailto: obensassi.03@gmail.com" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-google"></i></a></li>
                 <li><a href="https://github.com/Oussama1403" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-github"></i></a></li>
                <li><a href="https://discordapp.com/channels/@me/780055812747034624" target="_blank" class="social-icon"> <i style="margin-bottom:2px" class="fab fa-discord"></i></a></li>
                <li><a href="https://dev.to/oussama1403" target="_blank" class="social-icon"> <i class="fab fa-dev"></i></a></li>
              </ul>
           </div>
                


		</div>
	</div>
  </div>
</div>
{% endblock content %}
